* {
  text-align: center;
}

body {
  background-image: url('https://c8.alamy.com/comp/KBEGWF/music-theme-background-as-a-art-concept-KBEGWF.jpg');
}

form {
  display: flex;
  flex-flow: column wrap;
}

.inputValue {
  display: flex;
  flex-wrap: wrap;
}

.inputValue input {
  padding: 10px 50px;
}
